@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic,latin-ext');
/*
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
*/
/* .woff .woff2 .ttf .otf .eot .svg .svgz */

:root {
    --main-color: rgb(193, 133, 209);
}

/* Värvid */
/* Hex: #B7A4bc #A7D(#AA77DD) 16-süsteem arvud 0123456789ABCDEF*/
/* 2 arvu max == 255, #RGB, #RGBA A-alpha*/
/* black white green  coral jne*/
/* rgb(red green black)(183, 164, 198), RGBA(183, 164, 1)*/
/* rgb(72%, 64%, 74%) RGBA(72%, 64%, 74% 1) */
/* hsl(288, 15%, 69%) hsla(288, 15%, 69%, 1) 1. 0-359 */


body > div > header {
    background-color: antiquewhite;
    grid-area: header;
    padding: 10px;
    border-width: 20px;
    border-width: 20px 10px;
    border-width: 32px 16px 8px 4px;
    border-style: dashed;
    border-top-style: dotted;
    border-color: black;
    border-right-color: brown;
    border-radius: 15px;
    border-top-left-radius: 25px;
    /*border-image: url(/icon/favicon-32x32.png) 20% round;*/
    /*border: 20px solid black;*/
    outline: lightblue solid 10px;
    outline-offset: 45px;
    margin: 20px;

    box-shadow: -30px 25px 10px -10px rgb(226, 168, 158, 0.5);

    background-image: repeating-linear-gradient(lightskyblue 5px, lightpink 15px, lightgreen 25px);
}
header > h2, header > h3 {
    background-color: rgb(87, 93, 99);
    
}
body > div > header:hover {
    transform: rotate(0.01turn);
    background-color: dodgerblue;
    transition-duration: 1s, 5s;
    transition-property: transform, background-color;
    transition-delay: 2s, 0s;
    transition-timing-function: ease-in-out;
}
body > div > footer {
    background-color: grey;
    background-image: url("/icon/favicon.svg"), url("/icon/favicon-32x32.png");
    background-repeat: round;
    background-attachment: fixed, local;
    background-position: left 15px top 25px;
    background-clip: content-box, padding-box;
    background-origin: border-box;
    background-size: auto;
    padding: 25px;

    grid-area: footer;
    justify-self: stretch;
    resize: both;

    max-width: 60vmin; /* in landscape == vh in portrait == vw */
    max-width: 60vmax; /* in landscape == vw in portrait == vh */

    transform-origin: top left;
    transform: translate(12px, -100px) scale(0.8, 1.1) skew(10deg, -10deg);
    
}

body > div > aside {
    background-color: lightblue;
    grid-area: aside;
}
aside#aside-1 {
    padding: 15px;
    grid-area: aside-1;

    font-family: 'Roboto', Helvetica, sans-serif;
    /* serif sans-serifcursive, fanasy, monospace */
    font-weight: bold;
    font-stretch: ultra-condensed; /* condensed normal expanded*/
    font-style: oblique;
    /* 1.5em, xx-small(h6), x-small, small(h5), medium(h4), large(h2), x-large(h1), xx-large, smaller, larger */
    font-size: 1em;;
    font-size-adjust: 0.5;
    /*täiendavad fondi valikud */
    font-kerning: none; 
    /* font-variant*/
    font-variant-numeric: normal;

    /* Fondist sõltumatud */
    text-transform: capitalize;
    white-space: pre-line;
    /* tab-size: 12px; */
    word-break: break-all;
    /* hyphens: auto; */
    /* line-break: normal; */
    overflow-wrap: break-word;
    word-wrap: break-spaces;

    background-image: radial-gradient(farthest-side ellipse at 12% 25%,lightskyblue 20%, lightpink 30%, lightgreen 40%);
}

#aside-1 span{
    font-variant-position: super;
    font-variant-caps: small-caps;
}
aside#aside-2 {
    grid-area: aside-2;
    cursor: url(/icon/favicon-32x32.png),
                progress;
    background-image: linear-gradient(135deg,lightskyblue 20%, lightpink 30%, lightgreen 40%);
}

main {
    padding: 15px;
    background-color: aquamarine;
    grid-area: main;
    background-image: url("/icon/favicon.svg");
    background-repeat: round;
    background-attachment: fixed;
    text-align: justify;
    text-align-last: end;
    word-spacing: 150%;
    letter-spacing: 2px;
    text-indent: 2em;
    /*hanging-punctuation: first;*/
    
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

/* Start Grid */
body > div {
   
    margin: 50px auto;
    padding: 10px;
    border: 2px solid black;
    width: calc(800px + 20%);
    height: 1850px;
    display: -ms-grid;
    display: grid;
   /* grid-template-columns: 1fr 750px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
     "header header header"
     "aside-1 main aside-2"
     "footer footer footer";*/
    grid: 
    ". header aside-2"
    "aside-1 main aside-2"
    "footer footer footer"
     / 1fr 3fr 1fr; 
    
    grid-column-gap: 8px;
    grid-row-gap: 4px;
    justify-items: stretch;
    align-items: start;
    justify-content: space-evenly;
    align-content: space-between;

   
    
}

/* End Grid*/ 

/* relatiivsed ühikud:(näiteks fontidega) em rem % vw vh vmin vmax (ex ch)*/
/* absoluutsed ühikud:(näiteks printimisel) 0 cm mm q in pc pt px*/
/* nurga kraadid: deg(kuni360), rad(2PI), grad(400), turn(1)*/
/* aja ühikud: s ms*/
/* dsgedus(ainult teooria): Hz kHz*/
/* resulutsiooni ühikud: dpi dpcm dppx*/



p ~ p {
    font-size: 1.5em;
}
span {
    font-size: 1.5rem;
}
@keyframes frames {
    from {
        width: 184px;
        animation-timing-function: ease-in-out;
    }
    50% {
        width: 194px;
    }
    to {
        width: 150px;
    }
}
#aside-1 {
    animation-name: frames;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-play-state: paused;
}
#aside-1:hover {
    animation-play-state: running;
}

article header, article footer {
    background-color: var(--main-color);
}
