@import url('https://fonts.googleapis.com/css?family=Faster+One|Kaushan+Script&subset=latin-ext');

/* Tekitame muutuja, mida saame igal pool kutsuda, nagu nt värvid */
:root {
    --main-color: rgba(48, 121, 121, 0.637);
}

body > div > header {
    background-color: bisque;
    grid-area: header;
    transition-duration: 1s, 3s;
    transition-property: transform, background-color;
    transition-delay: 0.2s, 0s;
    border: 5px solid black;
    border-style: groove;
    padding: 10px;
    border-width: 20px 10px;
    border-bottom-style: double;
    border-left-style: dashed;
    border-right-style: dashed;
    border-radius: 75px;
    background-image: url(../icon/favicon.svg);
    background-repeat: round;
    background-attachment: fixed;
    /*
    box-shadow: 10px -10px 2px teal;
    */

    /*
    border-image: url(../icon/favicon-32x32.png) 40% repeat;
    */
}

header > h2, header > h3 {
    background-color: rgba(255, 235, 205, 0.726);
    text-align: center;
    font-family: 'Faster One', cursive;
}

body > div > aside:hover, footer:hover, main:hover {
    transform: scale(1.03);
}

body > div > .aside-1 {
    animation-name: frames;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes frames {
    from {
        width: 100%;
    }
    to {
        width: 50%;
    }
}

body > div > header:hover {
    transform: scale(1.03);
    background-color: aqua;
}

body > div > footer {
    background-color: antiquewhite;
    grid-area: footer;
    min-width: 60vmin;
    max-width: 60vmax;
    justify-self: stretch;
    transition-duration: 1s;
    transition-property: transform;
    background-image: url(../icon/favicon.svg);
    background-repeat: round;
    background-attachment: fixed;
    /*
    background-clip: border-box;
    background-size: auto;
    */
    /*
    background-position: left 50px top 25px;
    */
    transform: translate(12px, -100px) scale(0.8, 1.1) skew(10deg, 15deg);
    transform-origin: center;
}

body > div > aside {
    background-color: beige;
    transition-duration: 1s;
    transition-property: transform;
    cursor: url(../icon/favicon-32x32.png), progress;
}

.aside-1 {
    grid-area: aside-1;
    /* serif, sans-serif, cursive, fantasy, monospace */ 
    font-family: 'Kaushan Script', cursive;
    font-weight: 900;
    font-stretch: expanded;
    font-style: oblique;
    /* xx-small (h6), x-small, small (h5), medium (h4), large (h2), x-large (h1), xx-large */
    font-size: small;
    font-size-adjust: 0.5;
    font-synthesis: none;
    font-kerning: auto;
    font-variant-numeric: ordinal;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, red, orange 50%, brown);

    /* fondist sõltumatud */
    text-transform: capitalize;
    white-space: pre-line;
    /*
    word-break: break-all;
    */
    hyphens: none;
    overflow-wrap: break-word;
}

.aside-2 {
    grid-area: aside-2;
    background-image: repeating-linear-gradient(blueviolet 1px, blue 2px, green 3px);
    height: 1000px;
}

main {
    background-color: burlywood;
    grid-area: main;
    transition-duration: 1s;
    transition-property: transform;
    background-image: url(../icon/favicon.svg);
    background-repeat: round;
    background-attachment: fixed;
    text-align: center;
    word-spacing: 150%;
    letter-spacing: 0.1em;
    transform: matrix(-0.3, 0.5, -0.5, 0.5, 0, 0)
}

body > div {
    outline: blueviolet solid 5px;
    outline-style: double;
    margin: 25px;
    border: 2px solid black;
    padding: 10px;
    display: grid;
    display: -ms-grid;
    /*
    grid-template-columns: 1fr 750px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "aside-1 main aside-2" "footer footer footer";
    */
    grid: "header header header" "aside-1 main aside-2" "footer footer footer" / 1fr 3fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 4px;
    justify-items: stretch;
    align-items: start;
    justify-content: space-evenly;
    align-content: space-between;
}

p~p {
    font-size: 1.5em;
}

span {
    font-size: 1.5rem;
}

/* Suhtelised ühikud: 0, em, %, rem, vw, vh, (ex, ch) */
/* Absoluutsed ühikud: cm, mm, Q (1/4mm), in, px, pt, pc */
/* Nurkühikud: deg (360), rad (2Pi), grad (400), turn (1) */
/* Ajaühikud: s, ms */
/* Sagedus: hz, khz */
/* Resolutsioon: dpi dpcm */
/* Värvid:
    Hex: #A6BD78, 16 süsteemi arvud, 0, 1, 2, 3, 4, 5, 6, 7, ,8 , 9, A, B, C, D, E, F
    FF == 255 RGB
    rgb()
    hsl(288, 15%, 69%) hsla(288, 15%, 69%, 1) I 0-359
    */

article header, article footer {
    background-color: var(--main-color);
}

.lisa {
    background-color: greenyellow!important;
}