@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=latin-ext');

body {
    padding: 0;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid: 
    "header header"
    "aside main"
    "footer footer"
    / 1fr 3fr;
    background-color: #FFBED7;
    font-family: 'Roboto', Helvetica, sans-serif;
}

body > * {
    margin: 10px;
}

/* Header ja selle elemendid */
header {
    display: flex;
    min-height: 300px;
    max-height: 300px;
    background-color: black;
    color: white;
    grid-area: header;
    position: relative;
}
#logo {
    position: absolute;
    height: 120px;
    bottom: 30%;
    left: 7%;
}
#header-pealkiri {
    position: absolute;
    bottom: 30%;
    left: 32%;
}
#header-pealkiri > .pealkiri > h2 {
    font-weight: 400;
}

/* Navigatsiooni riba */
.navBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #B2738C;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
 }
li a {
    display: block;
    text-decoration: none;
    color: white;
    height: 22px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.socialmedia {
    height: 22px;
    width: 22px;
}
a:hover {
    background-color: #FFD8E7;
    color: #B2738C;
}


    /* Menüüriba lõppes*/
/* Header lõppes */


/* */
 main {
    padding: 10px;
    grid-area: main;
    background-color: #FFD8E7;
}
aside {
    grid-area: aside;
    background-color: #FFD8E7;
    padding: 15px;
}
footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: #FFD8E7;
}
footer > * {
    margin: 10px;
}
#E-mail {
    text-decoration: none;
    color: black;
}
#E-mail:hover {
    background-color: #B2738C;
    color: white;
}

.foto {
    width: 300px;
}

#map {
    height: 150px;
    width: 250px;
}
/* Media query max-width 900px(Headeri elementide paigutus, et lehe nimi ja logo sobiksid sellises vaates paremini)*/
@media screen and (max-width:900px){
    body {
       margin: 0;
    }
    header {
        height: 250px;
    }
    #logo {
        height: 100px;
        bottom: 55%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }
    #header-pealkiri{
        bottom: 15%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        justify-content: flex-start;
        margin-left: 50px;
    }
    body, body > * {
        margin: 5px;
    }
 }

/* Media query max-width 600px, mobiili vaade*/
@media screen and (max-width:600px){
    body {
        margin: 0;
        padding: 0;
        grid: 
        "header"
        "main"
        "aside"
        "footer";
    }
    /* Header max-width 600px*/
    header{
        margin: 0;
        width: 100%;
    }
    
    #logo {
        height: 80px;
        bottom: 57%;
    }    
    #header-pealkiri {
        margin-left: 40px;
        bottom: 16%;
    }
    #header-pealkiri > .pealkiri > h2 {
        margin: 5px 0 5px 0;
    }
    #header-pealkiri > .pealkiri > blockquote {
        margin: 10px 0 15px 25px;
        font-size: 12px;
    }
    /*Menüü riba max width 600px(lihtsalt et hetkel oleks parem vaadata, proovin hamburger-menüü nupuga kohendada menüüd
    ühe nupu alla, et nupule vajutades menüü avaneks) */ 
    .navBar {
        justify-content: center;
        width: 100%;
    }
    li a {
        padding: 8px 7px;
        font-size: 22px;
    }
    .socialmedia {
        height: 23px;
        width: 23px;
    }
 }