
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

/* .woff ; -woff2 ; .ttf ; .otf ; .eot ; .svg ; .svgz */


:root {
    --main-color: #AA77DD;
}
article header, article footer {
    background-color: var(--main-color);

}
body > div > header {
    background-color: #0072CE ;
    grid-area: header;
    padding: 10px;
    border-width: 10px;
    border-width: 20px 10px;
    border-width: 32px 16px 8px 4px;
    border-style: dashed;
    border-top-style: dotted;
    border-color: black;
    border-right-color: white;
    border-left-color: white;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    /* border-image: url(/icon/favicon-32x32.png) 20% round; */
    /* border: 20px solid red */
    outline: gray solid 5px;
    outline-offset:5px; 
    margin: 30px;
    box-shadow: 0px -25px 5px 5px rgba(0, 132, 255, 0.7);
}
header > h2, header > h3 {
    background-color: white;
    cursor: url(/icon/favicon-32x32.png), progress;
}
    /* värvid */
    /* hex-kood : #0072CE  #A7D (#AA77DD) - 
    hex arvud on 16-süsteemis; 0 1 2 3 4 5 6 7 8 9 A B C D E F; 2 arvu max, nt "FF == 255" 
    #RGB #RGBA A-alpha #B7A4BCFF*/
    /* black white green coral */
    /* rgb(183, 163, 188) rgba(183, 163, 188, 1) max 255 */
    /* rgb(72%, 64%, 74%) rgba(72%, 64%, 74%, 1) max 100% */
    /* hsl(288, 15%, 69%) rgba(288%, 15%, 69%, 1) [0-359;100%] Hue,saturation,light - kasutusel kunstnike poolt*/
body > div > header:hover {
    transition-duration: 5s,3s;
    transition-property: transform, background-color;
    transform: rotate(100turn);
    background-color: forestgreen;
    transition-delay: 1s, 0s;
    transition-timing-function: ease-in-out;
}
body > div > footer {
    background-color: silver;
    background-image: url(/icon/favicon-32x32.png) ;
    background-repeat: round;
    background-clip: border-box, content-box;
    padding: 25px;
    background-attachment: fixed, local;
    background-position: left 15px top 25px;
    background-origin: border-box;
    background-size: auto;
    grid-area: footer;
    resize: horizontal;
    justify-self: stretch;
    transform-origin: top left;
    transform: translate(12px, 20px) scale(1.1, 0.8) skew(-10deg, -10deg);
    transition-delay: 1s;
    transition-duration: 1s;
}

body > div > aside {
    background-color: black;
    color: white;   
    font-family: 'roboto', Arial, sans-serif;
    /* serif sans-serif cursive fantasy monospace*/
    font-weight: 700;
    font-stretch: ultra-condensed; /* condensed normal expanded */
    font-style: italic;
    font-size: medium; /* 1.5em; xx-small (h6); x-small (h5); medium (h4); large (h2); x-large (h1);
     xx-large; smaller; larger; */
    font-size-adjust: 0.5;
    /* täiendavad */
    font-kerning: normal;
    /* font-variant
    font-variant-position: super;
    font-variant-caps: petite-caps;
    font-variant-numeric: oldstyle-nums; */

    /*fondist sõltumatud */
    text-transform: capitalize;
    white-space: pre-line; 
    /* tab-size: 50px; */
    /* word-break: break-all; */
    /* line-break: strict; */
    hyphens: none;
    overflow-wrap: break-spaces;
    word-wrap: break-spaces;
    text-align: justify;
    /* text-align-last: start; */
    letter-spacing: 2px;
    word-spacing: 150%;
    /* hanging-punctuation: first; */
    }
body > div > aside > p {
    text-indent: 2em;
}
aside#aside-1 {
    grid-area: aside-1;
   
}
aside#aside-2{
    grid-area: aside-2; 
}
main {
    background-image: radial-gradient(65% 5em ellipse at center, yellow,gold,orange,orangered, red, rgba(0, 0, 0, 0.77), gray );
    /*background-image: url(/icon/favicon.svg) ;
    background-repeat: no-repeat;
    background-attachment: fixed, local;
    background-position: center; */
    grid-area: main;
}
body > div {
    outline: #0072CE solid 15px;
    margin: 0px auto;
    padding: 15px;
    border: 15px solid black;
    width: calc(800px + 40%); /* saame kombineerida ka relatiivseid + absoluutseid mõõtmeid [paindlikkus]*/
    height: 1000px;
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 1fr 750px 1fr; 
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "aside-1 main aside-2"
    "footer footer footer"; */
    grid: 
    "header header header"
    "aside-1 main aside-2"
    "footer footer footer"
    / 1fr 3fr 1fr;
    
    grid-column-gap: 8px;
    grid-row-gap: 4px ;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-between;
    
    overflow: auto;
    resize: both;
    
}
    /* relatiivsed ühikud  em <- fondisuurus(vaikimisi 16px)(juba kutsutud 
    elemendi sees suurendab topelt; rem - alustab originaalsest fondist;
    (ex ; ch) <- fondist sõltuv; % ; vw -viewport width;vh - viewport height ; */
    /* absoluutsed ühikud: 0 ; cm ; mm ; Q -quarter; in ; pc ; pt <= Kasutatakse eelkõige printimisel;
    px-vaikimisi ühik, kasutada 1px kõige väiksema väärtusena*/
    /* nurga kraadid (sulgudes max väärtus): deg(360); rad (2PI); grad (400) turn (1) */
    /* aeg ühikud: s ms */
    /* sagedus (ainult teooria): Hz kHz */
    /* resolutsiooni ühikud: dpi (density PER inch); dpcm (PER centimeter); dppx (PER pixel)*/
p ~ p {
    font-size: 1.5em;
}
span {
    font-size: 1.25rem;
}
body > div > footer {
    justify-self: stretch;
    width: 60vmax; /* in landscape == vh and in portrait == vw */
    width: 60vmin; /* in landscape == vh and in portrait == vw */
    margin: auto;

}
@keyframes frames {
    from{
        align-items: center;
        height: 856px;
        width: 834px;
        animation-timing-function: ease-in-out

    }
    50% {
        height: 856px;
        width: 1200px;
        }
    to {
        align-content: center;
        height: 856px;
        width: 834px;
    }
}
main {
    animation-name: frames;
    animation-duration:5s;
    animation-iteration-count: 0;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform: matrix(1, -0.2, 0, 1, 0, 0);
}
main:hover {
    animation-play-state: paused;
}