@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext'); /*see imporditud google fonts alt*/
/* .woff .woff2 .ttf .eot .svg .svgz*/

:root {
    --main-color: 
}

   /*VÄRVID*/
   /* Hex: #B7A4bc #A7D (=#AA77DD) 16-süsteem arvud, nende lugemine käib 0 1 2 3 4 5 6 7 8 9 A B C D E F*/
   /* FF == 255; #RGB=red green blue; #RGBA A-alpha ehk läbipaistvus #B7A4BCFF*/
   /* black white green coral - saab värvi nime ka otse välja kirjutada*/
   /* rgb(183, 164, 188) rgba(183, 164, 188, 1) max nr kuni 255-ni*/
   /* rgb(72%, 64%, 74%) rgba(72%, 64%, 74%, 1)*/
   /* hsl(288, 15%, 69%) hsla(288, 15%, 69%, 1) I number 0-359, II number=saturation %-des, III number=lightness mustast valgeni %-des*/
    
   /*start grid*/
body > div > header {
    background-color: #B7A4bc;
    background-image: repeating-linear-gradient(lightskyblue 5px, lightpink 15px, lightgreen 25px);
    grid-area: header;
    padding: 20px;
    border-width: 20px;
    border-width: 20px 10px;
    border-width: 32px 16px 8px 4px;
    border-style: dashed;
    border-top-style: dotted;
    border-color: white;
    border-right-color: brown;
    border-radius: 15px;
    border-top-left-radius: 25px;
    /*border-image: url(/icon/favicon-32x32.png) 20% round;*/
    /*border: 20px solid black;*/
    outline:lightskyblue solid 20px;
    outline-offset: 45px;
    margin: 20px;
    box-shadow: -30px 25px 5px 10px rgba(226, 168, 158, 0.7);
    
}
header > h2, header > h3 {
    background-color: brown;
    
}
body > div > header:hover {
    transform: rotate(0.05turn);  /*kasutan turn ühikut*/
    background-color: lightseagreen;
    transition-duration: 1s, 5s;/*liiguta kasti*/
    transition-property: transform, background-color;
    transition-delay: 2s, 0;
    transition-timing-function: ease-in-out;

}
body > div > footer {
    background-color: rgb(126, 150, 180);
    background-image: url(/icon/favicon.svg), url(/icon/favicon-32x32.png);
    background-repeat: round;
    background-attachment: fixed, local;
    background-position: left 15px top 25px;
    background-clip: border-box, padding-box;
    background-origin: border-box;
    background-size: auto;
    padding: 25px;
    grid-area: footer;
    justify-self: stretch;
    resize: both;
    min-width: 60vmin;
    max-width: 60vmax;

    transform-origin: center; /* võib ka kirjutada 0-100% */
    transform: translate(12px, -100px) scale(0.8, 1.1) skew(20deg, 10deg); /*rotate alati kirjuta esimesena*/



}
body > div > aside {
    background-color: rgb(144, 145, 86);
    grid-area: aside;
}
aside#aside-1 {
    grid-area: aside-1; 
    font-family: 'Roboto', Arial, Helvetica, sans-serif; /*fondi muutmiseks*/
    /*serif(Times New Roman tuntuim) sans-serif (Helvica tuntuim, Arial) 
    cursive (kirjakeelne stiil, käekiri) fantasy (Comic Sans) monospace (et tähed ära mahuks i ja o näide) */
    font-weight: 900;/*tavaliselt 400 väärtus, 700 juba bold*/
    font-stretch: ultra-condensed;/*condensed-pressitakse kokku, */
    font-style: oblique; /*oblique =sama mis italic*/
    font-size: large; /*nt em % xx-small(h6) x-small small(h5) medium(h4) large(h2) x-large(h1) xx-large smaller*/
    font-size-adjust: 0.75;
    /*täiendavad fondi valikud*/
    font-kerning: none; /*auto, normal, none*/
    /*fondist sõltumatud*/
    text-transform: capitalize;/*paneb suured esitähed*/
    white-space: pre-wrap; /**/
    /*tab-size: 24px;*/
    word-break: break-all; /*lõhub sealt, kus asub*/
    /*hyphens: auto;*/
    /*line-break: normal;*/
    overflow-wrap: break-word;
    
    background-image: radial-gradient(15em 20% ellipse at center, lightskyblue, lightpink, lightgreen);
}
aside#aside-1 span{
 font-variant-position: super; /*css variant kuidas ülesse panna numbreid*/
}

aside#aside-2 {
    grid-area: aside-2;
    cursor: url(/icon/favicon-32x32.png),
    progress; /*näitab et kursor mõtleb või muutub ikooniks*/

    background-image: linear-gradient(to bottom right, lightskyblue 25%, lightpink 40%, lightgreen 15%); /*ilma protsendita jääb ilus hägus, 
    nt.135deg tuleb nurk võib ka to bottom right*/
    
}
main {
    background-color: rgb(228, 231, 36);
    grid-area: main;

    background-image: url(/icon/favicon.svg);
    background-repeat: round;
    background-attachment: fixed;

    text-align: justify;
    text-align-last: end;
    word-spacing: 150%;
    letter-spacing: 2px;
    text-indent: 2em;/*tekitab tühiku*/
    /*hanging-punctuation: first;*/ 

    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

body > div {
    outline: blue solid 5px;
    margin: 30px auto;
    width: calc(800px + 40%);
    height: 2200px;
    display: -ms-grid; /*microsofti puhul, veebilehitsejate prefiksid*/
    display: grid;

    /*grid-template-columns: 1fr 750px 1fr; read ülevalt alla
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "aside-1 main aside-2"
        "footer footer footer";*/
    grid: 
        "header header header"
        "aside-1 main aside-2"
        "footer footer footer"
        / 1fr 400Q 1fr;
     grid-column-gap: 8px; 
    grid-row-gap: 4px;
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;/*start- kõik alguses, end*/
    align-content: space-between;
    /*  overflow: hidden;
        resize:both;*/
  

}
    /*end grid*/
    /*ÜHIKUD*/
    /* relatiivsed ühikud - 0 em=fondi suurus(vaikimisi 16px); rem- font(vt allpool näidet); %; vw=viewport võtab laiust, sarnaneb %-le; vh=võtab kõrgust (vmin, vmax=lubadus skaleerida nii palju kui tahab)
    (ex ch)=seotud pigem fondiga, vähe kasutuses*/
    /*absoluutsed ühikud - 0; cm; mm; Q=1/4 mm; in=inches; pc=12points; pt=72 inchi - neid 6 kasutatakse print.css failis, ühte neist kasutada
    px=kui width  kirjutada nr, siis arvestab vaikimisi piksleid*/
    /*nurga kraadid: deg (360 täisring); rad(2PI raadius); grad (400 gradiendi määramiseks); turn (1 ring, kui panen 0,5turn siis järelikult pool ringi)*/
    /*aja ühikud: s=sekund; ms=millisekund; */
    /*sageduse ühikud (ainult teooria): Hz; kHz*/
    /*resolutsiooni ühikud:dpi=tihedus inch kaupa; dpcm= tihedus cm kaupa (kasutatakse enim); dppx= tihedus px kaudu - koos media elementidega need */


p ~ p {
font-size: 1.5em;
}
span {
    font-size: 1.5rem; /*em suurendab veel 1,5 võrra p olevat teksti, rem muudab tagasi 1,5 võrra*/
}
body > div > footer {
    justify-self: stretch;
    min-width: 60vmin;
    max-width: 60vmax;
}
@keyframes frames {
    from {
        width: 200px;
        animation-timing-function: ease-in-out;
    }
    50% {
        widows: 194px;;
    }
    to {
        width: 150px;
    }
}
#aside-1 {
    animation-name: frames;
    animation-duration: 2s;
    animation-iteration-count: infinite; /*infinite=teeb igavesti animatsiooni, alternate=liigub lõppu ja sealt tagasi*/
    animation-direction: reverse;
    animation-fill-mode: both;

    animation-delay: 2s;
    animation-play-state: paused;
}
#aside-1:hover {
    animation-play-state: running;
}

article header, article footer {
    background-color: var(--main-color);
}
.lisa {
    background-color: darkgoldenrod!important;
}