@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Raleway+Dots&subset=latin-ext');
* {
    font-family: Bernini, "Bernini Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
    --main-color: #b19bdd;
}
main, aside, footer {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /* margin: 10px;*/
}
h1, h2, h3, h4, p {
    padding-left: 15px;
}
h2 {
    font-family: 'Raleway Dots', cursive;
    font-stretch: condensed;
    border: 2px solid #5b32ac;
    border-radius: 10px;
    /*font-size-adjust: ;*/
    /*outline-offset: 5px;*/
}
p {
    padding-right: 15px;
    text-align: justify;
    cursor: pointer;
    font-kerning: auto;
    /*font-variant-position: super;
    font-variant-caps: small-caps;
    font-variant-numeric: normal*/
}
body > div > header {
    background: linear-gradient(to bottom, #9966ff 20%, #ff99cc 100%);
    grid-area: header;
    margin-top: 10px;
    text-transform: capitalize;
}
body > div > header:hover {
    transition-duration: 1s, 2s;
    transform: rotate(0.001turn);
    background: linear-gradient(to bottom, #c8b7e9 20%, #7c4560 100%);
    transition-property: transform, background-color;
    transition-delay: 2s, 0;
    /*transition-timing-function: ;*/
}
body > div > footer {
    background-color: #c2d18e;
    background-image: url("/icon/favicon-32x32.png");
    background-repeat: repeat-y;
    background-position: right;
    background-clip: padding-box;
    background-origin: content-box;
    background-size: contain;
    /*background-attachment: fixed, local;*/
    grid-area: footer;
    border: 10px solid transparent;
    /*justify-self:  stretch;*/
    /*border-image: url("/icon/favicon-32x32.png") 30% round;*/
    /*background-image: url("/icon/favicon.svg"), url("/icon/favicon-32x32.png");
    background-repeat: round;
    background-position: right;     
    background-attachment: fixed, local;*/
    resize: both; /* töötab kui overflow on määratud */
    overflow: auto;
}
#picture {
    object-fit: cover;
    object-position: 50% 50%;
    /*ix-blend-mode: ;*/
}
body > aside {
    background-color: #e09b9b;
    grid-area: aside;
}
aside#aside1 {
    font-family: 'BioRhyme Expanded', serif;
    background-color: #e09b9b66;
    grid-area: aside1;
    white-space: pre-line;
    tab-size: 14px;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    text-align-last: justify;
    word-spacing: 2%;
    /*text-indent: ;*/
}
aside#aside2 {
    background-color: #e09b9b;
    grid-area: aside2;
}
aside#aside2:hover {
    transform-origin: top left;
    transform: translate(10px, -2px) scale(0.81, 1) skew(3deg, 5grad);
}
main {
    background-color: #abc5d1;
    grid-area: main;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}
body > div {
    /*width: 1200px;*/
    /*width: calc(300px + 40%);*/
    /*box-sizing: content-box|border-box;*/
    height: auto;
    display: -ms-grid;
    display: grid;
    /*grid-template-columns: 1fr 3fr 1fr;*/
    /*grid-template-columns: 200px 600px 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "aside1 main aside2"
    "footer footer footer";*/
    grid: 
    "header header header"
    "aside1 main aside2"
    "footer footer footer"
    /20% 40% 20%;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    /*justify-content: space-evenly;*/
    /*align-content: space-between;*/
    /*em rem (ex ch) % vw view-width vh vmin vmax
    absoluutsed ühikud: px cm mm Q in pc pt - printimiseks
    nurga kraadid: deg rad(2PI) grad(400) turn(1)
    ajaühikud: s ms
    sagedus: Hz kHz
    resolutsioon: dpi dpcm dppx
    värvid: hex rgb hsl */
}
@keyframes frames {
    from {
        width: 320px;
        animation-timing-function: ease-in-out;
    }
    to {
        width: 300px;
    }
}
#aside1:hover {
    animation-name: frames;
    animation-duration: 2s;
    animation-iteration-count: 2; /*infinite*/
    animation-direction: alternate;
    /*animation-play-state: paused|running nt: :hover
    animation-delay: 2s
    animation-fill-mode: both*/
}
article header, article footer {
    background-color: var(--main-color);
}