body {
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif;
    padding: 0px 30px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
h1 {
    color: #817fa0;
}
.alapealkiri {
    margin-left: 30px;
    color: #bcbcc4;
}