@import url('https://fonts.googleapis.com/css?family=Roboto:400,400');

:root {/*saan siia kõik värvikoodid, fondid kirjutada*/
    font-family: 'Roboto', sans-serif!important;
    font-size: 14px; 
    --t-green:#28B78D;
    --t-black: #0F0F0F;
    --t-yellow: #F2C94C;
    --t-lgray: #E0E0E0;
    --t-dgray: #828282; 
    --t-white: #F2F2F2;
}
body {
    font-size: 12px; 
}
.bg-dark {
    background-color: var(--t-black)!important;
}
.bg-green{
    background-color: var(--t-green)!important;
}
.bg-gray{
    background-color: var(--t-lgray)!important;
}
.text-light {
    color: var(--t-white)!important;
}
.text-gray{
    color: var(--t-dgray)!important;
}
small, .font-10 {
    font-size: 10px;
}

.font-14 {
    font-size: 14px;
}
#main-menu-ul {
    width: 848px;
}
#main-menu-ul span, #main-menu-ul li {
    min-width: 421px;
   /* max-width: 421px; */
}
#main-menu-ul a {
    display: inline-block;
    min-width: 49.8%;
    /* max-width: 210px; */
}
#personal-menu {
    min-width: 296px;
}

#personal-menu > button, #personal-menu ul a {
    min-height: 36px;
    max-height: 36px;

}

#userName {
    font-size: 18px;
    font-weight: bold;
}

.mr-05 {
    margin-right: 1px!important;
}
.mx-35 {
    margin-left: 12px!important;
    margin-right: 12px!important;
}

.py-25 {
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}
.py-35 {
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}
.px-45 {
    padding-left: 30px!important;
    padding-right: 30px!important;
}
.mb-25 {
    margin-bottom: 6px!important;
}
.mb-35 {
    margin-bottom: 12px!important;
}
#main-item-list {
    column-gap: 6px;
}
#main-item-list > li { 
    display: inline-block;
    min-width: 278px;
    max-width: 279px;
}
.column-count-auto {
    column-count: auto;
}
@media (min-width: 992px) {
    .mr-lg-15 {
        margin-right: 3px!important;
    }
    .ml-lg-15 {
        margin-left: 3px!important;
    }
    #main.item-list, main > form, main > hr {
        max-width: 848px;
    }  
}
@media (min-width: 1200px) {

    #personal-menu {
        max-width: 296px;
        padding: 59px 12px!important;
    }

    .column-count-xl-3 {
        column-count: 3;
    }
}
