body {
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif;
    padding: 30px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
h1 {
    color: #251ca0;
}

.pealkiri {
    background-color: aqua;
}

source {
    border-style: solid;
}