/* Määrab rohelist teksti kõikidele elementidele
* {
    color: green;
}
*/
/* Elemendi põhine valik*/
h1 {
    background-color: blanchedalmond;
    color: blue;
}
p {
    background-color: lightgrey;
}
.katse {
    background-color: lightgoldenrodyellow;
}
#definition {
    color: indigo;
}
.katse ruby {
    color: crimson;
}
body > header {
    background-color: aquamarine;
}
ul, ol {
    color: salmon;
}