body {
    /* flex on galeriide jaoks mugav */
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-end;
      
     /* flex-direction: row;*/
}

body > *{
    margin: 10px;
    flex-grow: 1;
    /* width; 75vmin; */
}
main{
    min-width: 40%;
    max-width: 40%;

}
aside{
    min-width: 20%;
    max-width: 20%;
}
body > header, body > footer {
    min-width: 96%;
    flex-grow: 3; 
}
main p {
    display: inline-block;
    column-count: 2;
}
aside ~ aside {
    align-content: flex-start;
}

body > header {
    background-color: lightblue;
   
}
body > footer {
    background-color: lightcoral;
}
body > aside {
    background-color: lightseagreen;
}

body > main {
    background-color: lightgoldenrodyellow;
}

h4 {
    background-color: lightcyan;
}
@media screen and (max-width:900px){

    aside, main{
        min-width: 100%;
        max-width: 100%;
    }

    body > aside:first-child{
        align-content: center;
    }
    body > footer {
        order: 2;
    }
}
