h1{
    color: palevioletred;
    font-size: 1cm;
   
}

h2{
    color: gray;
}

.joonis1 {
    float: right;
}


p {
    background-color: lightblue;
}
#definition {
    color: saddlebrown;
}
/*
body > header {
    background-color: gainsboro;
}
*/
a:visited {
    color: black;
}
a:hover {
    color: palevioletred;
}
:target {
    background-color: lightgoldenrodyellow;
}
form  {
    background-color: antiquewhite;
}
dt + dd {
    background-color: darkgreen;
}
:lang(en) {
    font-style: oblique;  

}
[download]:hover{
    color:black;

}
/* E[attr] E[attr="value"] E[attr~="value"] E[attr'="value"] E[attr^="value"] E[attr$=value"] E[attr*="value"] E[attr|="value"] attr="kase-käsi-pall" */

input[name|="radio"]:checked + br + label {
    background-color: lightsalmon;
}

a:not(:hover) {
    background-color: lightseagreen;
}

ol li:first-child{
    font-style: italic;
}
li:first-of-type {
    font-weight: bold;
}
/* :last-child :last-of-type :only:child 
    :nth-child(n) :nth-last-child(n) :nth-of-type(n) nth-last-of-type(n) */

    li:nth-child(2) {
        background-color: lightseagreen;
    }
/* (pseudoelementidel topeltkoolon ::first-ling, ::first-letter ::before ::after */

legend::before {
    content: "Vorm: ";
}
p::first-letter {
      font-size: 200%;
      color: blue; 
}
}
/* @media all, braille handheld prjection tty tv embossed speech */

@media screen and (orientation: landscape) {
    p::first-letter {
        font-size: 200%;
        color: whitesmoke;

}
}
/* dpi või dpcm */
@media print and (min-resolution: 118dpcm){
    p::first-letter {
        font-size: 200%;
        color: blue;
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
    p::first-letter {
        font-size: 300%;
}
/* height device-height*/

@media (min-device-width: 1024px) and (max-device-width: 2000px) {
    p::first-letter {
        font-size: 300%;
        color: blue;
    
}
}
@media (aspect-ratio: 16/9){
    p::first-letter {
        font-size: 100%;
    }
}

/* 8-bit-> 3-bit red, 3-bit green, 2-bit blue==color: 2 24bit==8*/
@media all and (min-color: 1){
    p::first-letter {
       text-decoration: underline; 
    }
}
/* monochrome color-index grid
/* tv and (scan:progressive) või interlace */
@supports (display: flow-root){
    textarea {
        display: flow-root;
        color: green;
    }
}
@supports not (display: flow-root){
    textarea {
        display: flow-root;
        color: blueviolet;
    }
}